*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 247, 247);
}

.contact-bar{
    padding: 19px 19px 1px 19px;
    border-bottom: solid 1px #e2e2e2;
}
.contact-bar .top-left-contact ul li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
}

.contact-bar .top-right-contact{
    float: right;
}
.contact-bar .top-right-contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-bar .top-right-contact ul li{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #f0f0f0;
    padding: 0px 13px;
}
.contact-bar .top-right-contact ul li a{
    color: #333;
    text-decoration: none;
}
.contact-bar .top-right-contact ul li a:hover{
    text-decoration: none;
    color: green !important;
}

.contact-bar .top-right-contact ul li:last-child{
    border-right:0;
}

/* Slider section */
.slider-section{
    background: #cac4c4;
    height: 500px;
    /* padding: 5px; */
}

.slider-section .inner-banner-item{
    width: 100%; height: 500px;
    display: flex;
    width: 100%;
    align-items: center;
    
}


.small-banner{
    overflow: hidden;
    padding: 20px;
}
.small-banner .small-items {
    padding: 20px;
}

.top-tranding-section{
 padding: 60px 0;
}

.top-tranding-section .section-title{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 215px;
}

.top-tranding-section .section-title .trand-heading{
    font-weight: bold;
    font-size: 40px !important;

}
.top-tranding-section .section-title .trand-heading::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    background: #F7941D;
    left: 50%;
    bottom: 30px;
    margin-left: -25px;
}

@media(max-width:500px){
    .contact-bar .top-right-contact{
        float: left;
    }
    .contact-bar .top-right-contact ul li{
        padding: 0px 7px;
        margin-left: -9px;
    }

    .slider-section .inner-banner-item .item-info h4{
        font-size: 18px !important;
    }
    .slider-section .inner-banner-item .item-info h1{
        font-size: 25px !important;
    }

    .slider-section .inner-banner-item .item-picture img{
        height: 100% !important;
    }
    
}