*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 247, 247);
}

.contact-bar{
    padding: 19px 19px 1px 19px;
    border-bottom: solid 1px #e2e2e2;
}
.contact-bar .top-left-contact ul li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
}

.contact-bar .top-right-contact{
    float: right;
}
.contact-bar .top-right-contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-bar .top-right-contact ul li{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #f0f0f0;
    padding: 0px 13px;
}
.contact-bar .top-right-contact ul li a{
    color: #333;
    text-decoration: none;
}
.contact-bar .top-right-contact ul li a:hover{
    text-decoration: none;
    color: green !important;
}

.contact-bar .top-right-contact ul li:last-child{
    border-right:0;
}

/* Slider section */
.slider-section{
    background: #cac4c4;
    height: 500px;
    /* padding: 5px; */
}

.slider-section .inner-banner-item{
    width: 100%; height: 500px;
    display: flex;
    width: 100%;
    align-items: center;
    
}


.small-banner{
    overflow: hidden;
    padding: 20px;
}
.small-banner .small-items {
    padding: 20px;
}

.products-feature-section{
 padding: 60px 0;
}

.products-feature{
    text-align: center;
    margin-bottom: 70px;
    padding: 0 215px;
}

.products-feature h2{
    font-weight: bold;
    font-size: 40px !important;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    color: #2c2d3f;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 15px;
    
}
.products-feature h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: #F7941D;
    left: 50%;
    bottom: 0;
    margin-left: -25px;
}

.products-items .card img{
    transition: 0.3s;
}
.products-items .card img:hover{
    transform: scale(1.1);
}


    .facility-service{
    padding: 60px 0;
    background: #e8e8eb;
    margin-bottom: 10px;
    }

    .facility-service .single-service {
        position: relative;
        padding-left: 58px;
    }

    .facility-service .single-service i {
        height: 50px;
        width: 50px;
        line-height: 60px;
        text-align: center;
        color: #333;
        background: transparent;
        border-radius: 100%;
        display: block;
        font-size: 35px;
        position: absolute;
        left: 0;
        top: 0;
    }
.shop-newsletter{
    padding: 100px 0;
    position: relative;

}

.shop-newsletter .inner {
    text-align: center;
}
.shop-newsletter .inner h4 {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.shop-newsletter .inner p {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.shop-newsletter .newsletter-inner {
    position: relative;
    display: inline-block;
}

.shop-newsletter .newsletter-inner input {
    width: 480px;
    height: 55px;
    border-radius: 0px;
    padding: 0px 30px;
    font-weight: 400;
    display: inline-block;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border: 1px solid #ececec;
    border-radius: 30px 0 0 30px;
}

.shop-newsletter .newsletter-inner .btn {
    display: inline-block;
    height: 55px;
    padding: 10px 30px;
    position: relative;
    top: -2px;
    background: #F7941D;
    color: #fff;
    left: -4px;
    border-radius: 0 30px 30px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.shop-newsletter .newsletter-inner button {
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.section-footer aside ul li a{ color: white;}
.section-footer aside ul li a:hover{ text-decoration: none;}

.login-section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-facebook:hover{
    text-decoration: none;
    color: white;
} 
.btn-google {
    background-color: #db4a39;
    color: #fff;
}
.btn-google:hover{
    text-decoration: none;
    color: white;
}

.input-group-text {
    
    border: none !important;
    
}

@media(min-width:300px) and (max-width:800px){
   
    .contact-bar .top-right-contact{
        float: left;
    }
    .contact-bar .top-right-contact ul li{
        padding: 0px 7px;
        margin-left: -9px;
    }

    .slider-section .inner-banner-item .item-info h4{
        font-size: 18px !important;
    }
    .slider-section .inner-banner-item .item-info h1{
        font-size: 25px !important;
    }

    .slider-section .inner-banner-item .item-picture img{
        height: 100% !important;
    }

    .products-feature h2{
        font-weight: bold;
        font-size: 25px !important;
        margin-bottom: 20px;
    }
    .products-feature {
        padding: 0;
    }

    .shop-newsletter .newsletter-inner input {
        width: 330px;
        height: 42px;
        padding: 0 20px;
        border-radius: 30px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }
    .shop-newsletter .newsletter-inner .btn {
        height: 42px;
        padding: 10px 15px;
        width: 330px;
        border-radius: 30px;
        left: 0;
        display: block;
    }
    
}