*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 247, 247);
}

.contact-bar{
    padding: 19px 19px 1px 19px;
    border-bottom: solid 1px #e2e2e2;
}
.contact-bar .top-left-contact ul li{
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
}

.contact-bar .top-right-contact{
    float: right;
}
.contact-bar .top-right-contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-bar .top-right-contact ul li{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-right: 1px solid #f0f0f0;
    padding: 0px 13px;
}
.contact-bar .top-right-contact ul li a{
    color: #333;
    text-decoration: none;
}
.contact-bar .top-right-contact ul li a:hover{
    text-decoration: none;
    color: green !important;
}

.contact-bar .top-right-contact ul li:last-child{
    border-right:0;
}

@media(max-width:500px){
    .contact-bar .top-right-contact{
        float: left;
    }
    .contact-bar .top-right-contact ul li{
        padding: 0px 7px;
        margin-left: -9px;
    }
}